# Dependencies
node_modules/
.pnpm-store/

# Expo
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
android/
ios/

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Keystores & Secrets
*.keystore
keystore_base64.txt
credentials.json

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Metro
.metro-health-check*

# Testing artifacts
*.apk
*.ipa
screen*.png
ui.xml

# TypeScript
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.sublime-*

*.png
*.apk
